GROQ_API_KEY=
SOLANA_RPC_URL=https://api.devnet.solana.com
CIVICCHAIN_PROGRAM_ID=12D76ecL7prNejn2PgyAebvrF5FrKpnY7ABNW5Zm2Qrm
SOLANA_WALLET_PATH=~/.config/solana/id.json
CIVICCHAIN_IDL_PATH=../target/idl/civicchain.json
CIVICCHAIN_ENABLE_ESCROW_RELEASE=false
